.env
*.pyc
.project
.coverage
*.code-workspace
*.zip
*.vscode*
*.supervisord.conf

notebooks/
logs/

build/
dist/
*.egg*
*.whl*

htmlcov/
*.ipynb_checkpoint*

__pycache__/*
.pytest_cache

dependencies
*.key*
secrets
